<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AccessibleComboBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AccessibleList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AccessibleTabGroup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AccessibleTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AccessibleTextTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AccessibleTree debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AccessibleTree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>JetBrainsRuntime debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JetBrainsRuntime release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenJDK debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenJDK release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SetConfiguration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE094FA1265BB1DF008043CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2440D7266100A70036EAE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE6B85AB2662B45A004A4793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE6D7C4526627A34008AEB3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE71933F23D71913008827FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE71934523D71B02008827FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE71935123D7236F008827FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA166FB265FBDAA00C28595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEACC455265FEB6F0096B779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
